<p>
  <strong>User:</strong>
  <%= @user.handle %>
</p>
 
<p>
  <strong>Name:</strong>
  <%= @user.first_name << " " << @user.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<%= link_to "back", users_path %> | <%= link_to "edit", edit_user_path(@user) %>